venv/
.env/
.venv/
env/
venv/
ENV/
migrations/
__pycache__/
.vscode/
staticfiles/
media/
rateplans_services/migrations/
rateplans_services/__pycache__/
useful_links/migrations/
useful_links/__pycache__/
news/migrations/
news/__pycache__/
postpaid/migrations/
postpaid/__pycache__/

